/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-1 {
  width: calc(8.33333% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-2 {
  width: calc(16.66667% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-3 {
  width: calc(25% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-4 {
  width: calc(33.33333% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-5 {
  width: calc(41.66667% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-6 {
  width: calc(50% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-7 {
  width: calc(58.33333% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-8 {
  width: calc(66.66667% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-9 {
  width: calc(75% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-10 {
  width: calc(83.33333% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-11 {
  width: calc(91.66667% - 20px);
}

/* line 42, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.grid-12 {
  width: calc(100% - 20px);
}

/* line 60, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  /* line 60, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-3 {
  margin-left: calc(25% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-6 {
  margin-left: calc(50% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-9 {
  margin-left: calc(75% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

/* line 65, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  /* line 72, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

/* line 114, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 114, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 114, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 78, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

/* line 118, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.row {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  /* line 118, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 78, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_grid.scss */
.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
body {
  background: #edece4;
  border: 10px solid #cbc6b9;
  color: #2a2426;
}

@media screen and (max-width: 759px) {
  /* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
  body {
    border: none;
  }
}

/* line 10, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 15, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
.title {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.66667em;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  /* line 15, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
  .title {
    margin-bottom: 40px;
  }
}

/* line 22, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
.title::after {
  content: '';
  display: block;
  width: 75%;
  float: right;
  height: 2px;
  background: #2a2426;
  margin-top: 15px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 22, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
  .title::after {
    width: 60%;
  }
}

/* line 36, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_general.scss */
p {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.66667em;
}

/* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro {
  margin-top: 60px;
}

@media screen and (max-width: 759px) {
  /* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
  .intro {
    margin-top: 20px;
  }
}

/* line 8, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro-info {
  border-right: 2px solid #2a2426;
  max-width: 320px;
}

/* line 12, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro-info p {
  padding-top: 10px;
}

/* line 16, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro-info p:first-child {
  border-bottom: 2px solid #2a2426;
  padding-bottom: 10px;
}

/* line 22, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro-phone {
  color: #988c77;
}

@media screen and (max-width: 759px) {
  /* line 22, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
  .intro-phone {
    margin-bottom: 40px;
  }
}

/* line 28, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro-phone::after {
  content: '/ / / /';
  display: block;
  margin-top: 200px;
  font-size: 220px;
  letter-spacing: -80px;
  color: #2a2426;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 28, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
  .intro-phone::after {
    margin-top: 80px;
    font-size: 160px;
    letter-spacing: -60px;
  }
}

@media screen and (max-width: 759px) {
  /* line 28, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
  .intro-phone::after {
    display: none;
  }
}

/* line 48, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.intro-photo {
  border: 10px solid #cbc6b9;
  width: 100%;
}

/* line 55, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.opened {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #1ab912;
  border-radius: 50%;
  margin-left: 30px;
}

/* line 64, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_intro.scss */
.logo {
  margin-bottom: 60px;
}

/* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
.menu {
  margin-top: 120px;
  margin-bottom: 60px;
}

@media screen and (max-width: 759px) {
  /* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
  .menu {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* line 5, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
.menu-item {
  margin-bottom: 60px;
}

/* line 8, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
.menu-item h2 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 1em;
}

/* line 13, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
.menu-item li {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.66667em;
  line-height: 2.11111em;
}

/* line 16, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
.menu-item li span {
  font-family: "Aref Ruqaa", serif;
  color: #988c77;
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 10px;
  margin-left: -80px;
}

@media screen and (max-width: 759px) {
  /* line 16, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
  .menu-item li span {
    margin-left: 0px;
    width: auto;
  }
}

/* line 32, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
.menu-item img {
  border-radius: 50%;
  border: 10px solid #cbc6b9;
  position: absolute;
  right: 0px;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  /* line 32, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
  .menu-item img {
    right: 120px;
  }
}

@media screen and (max-width: 759px) {
  /* line 32, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_menu.scss */
  .menu-item img {
    margin-top: 0px;
    width: 120px;
  }
}

/* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact {
  margin-top: 120px;
  margin-bottom: 60px;
}

@media screen and (max-width: 759px) {
  /* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
  .contact {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* line 6, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact form label {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.66667em;
  display: block;
}

/* line 11, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact form input[type="text"], .contact form textarea {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.66667em;
  color: #2a2426;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #988c77;
  background: transparent;
  margin-bottom: 1em;
}

/* line 20, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact form input[type="text"]:hover, .contact form input[type="text"]:focus, .contact form textarea:hover, .contact form textarea:focus {
  outline: none;
  border-color: #cbc6b9;
}

/* line 26, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact form textarea {
  height: 120px;
}

/* line 32, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact-info {
  display: inline-block;
  color: #988c77;
  margin-top: 2em;
  margin-bottom: 3em;
}

@media screen and (min-width: 1200px) {
  /* line 32, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
  .contact-info {
    float: right;
    text-align: right;
    margin-top: -3em;
  }
}

/* line 44, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact-map {
  display: block;
  -webkit-box-shadow: 0 0 0 10px #cbc6b9;
  -moz-box-shadows: 0 0 0 10px #cbc6b9;
  box-shadow: 0 0 0 10px #cbc6b9;
  clear: both;
}

/* line 48, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
.contact-map img {
  width: 100%;
}

/* line 55, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
input.button {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.66667em;
  cursor: pointer;
  color: #988c77;
  text-transform: uppercase;
  border: 2px solid #988c77;
  background: transparent;
  display: block;
  width: 200px;
  padding-top: 5px;
  -webkit-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  -moz-box-shadows: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  transition: .3s;
}

/* line 67, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_contact.scss */
input.button:hover {
  -webkit-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
  -moz-box-shadows: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
  box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
}

/* line 1, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_footer.scss */
footer {
  padding: 20px 0;
  background: #2a2426;
  -webkit-box-shadow: 0 0 0 10px #2a2426;
  -moz-box-shadows: 0 0 0 10px #2a2426;
  box-shadow: 0 0 0 10px #2a2426;
}

/* line 5, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_footer.scss */
footer p {
  color: #edece4;
}

@media screen and (max-width: 759px) {
  /* line 5, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_footer.scss */
  footer p {
    text-align: center;
  }
}

/* line 12, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_footer.scss */
footer a img {
  float: right;
}

@media screen and (max-width: 759px) {
  /* line 12, D:/@Projetos2/origamid/css-com-sass/projeto-final/lescone/css/scss/_footer.scss */
  footer a img {
    float: none;
    margin: 20px auto;
  }
}

/*# sourceMappingURL=style.css.map */