body {
    background: $beige-light;
    border: 10px solid $beige;
    color: $grey;
    @include d(s) {
        border: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

.title {
    @include type-1(18);
    text-transform: uppercase;
    @include d(s) {
        margin-bottom: 40px;
    }

    &::after {
        content: '';
        display: block;
        width: 75%;
        float: right;
        height: 2px;
        background: $grey;
        margin-top: 15px;
        @include d(m) {
            width: 60%;
        }
    }
}

p {
    @include type-1(18);
}