// cores
$beige-light: #edece4;
$beige: #cbc6b9;
$beige-dark: #988c77;
$green: #1ab912;
$grey: #2a2426;

// fonts
$font-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16) {
    @return $pixel / $context + em;
}

@mixin type-1 ($size) {
    font-family: $font-1;
    @if $size == 18 {
        font-size: em(18);
        font-weight: 600;
        line-height: em(30, 18);
    }
}

@mixin type-2 ($size) {
    font-family: $font-2;
    @if $size == 18 {
        font-size: em(18);
        line-height: em(30, 18);
    }
    @else if $size == 24 {
        font-size: em(24);
        line-height: em(30, 24);
    }
}

@mixin session {
    margin-top: 120px;
    margin-bottom: 60px;
    @include d(s) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadows: $shadow;
    box-shadow: $shadow;
}
